<div class="cuerpo"></div>
<footer class="text-muted foot">
    <div class="container">
        <div class="row">
            <div class="footcity col-sm-3">
                <div class="row">
                    Mapa del sitio
                </div>
                <div class="row">
                    <div class="col">
                        <a href="" class="row footitem font13">Sobre nosotros</a>
                        <a href="" class="row footitem font13">Dueños de negocios</a>
                        <a href="" class="row footitem font13">Términos y privacidad</a>
                        <a href="" class="row footitem font13">Ayuda</a>
                        <a href="" class="row footitem font13">Todos los restaurantes</a>
                        <a href="" class="row footitem font13">Contáctenos</a>
                    </div>
                </div>

            </div>

            <div class="footcity col-sm-9 cities">
                <div class="row cit">
                    Ciudades más buscadas
                </div>
                <div class="row">
                    <div class="col-sm">
                        <a href="" class="row footitem font13">New Orleans, Louisiana, USA</a>
                        <a href="" class="row footitem font13">Tokyo, Japon</a>
                        <a href="" class="row footitem font13">Lyon, Francia</a>
                        <a href="" class="row footitem font13">San Sebastián, España</a>
                        <a href="" class="row footitem font13">Marrakesh, Maruecos</a>
                        <a href="" class="row footitem font13">Louisville, Kentucky, USA</a>
                    </div>
                    <div class="col-sm">
                        <a href="" class="row footitem font13">Georgetown, Malasia</a>
                        <a href="" class="row footitem font13">Florence, Italia</a>
                        <a href="" class="row footitem font13">London, UK</a>
                        <a href="" class="row footitem font13">Santiago, Chile</a>
                        <a href="" class="row footitem font13">Copenhagen, Dinamarca</a>
                        <a href="" class="row footitem font13">San Diego, California, USA</a>
                    </div>
                    <div class="col-sm">
                        <a href="" class="row footitem font13">Ho Chi Minh City, Vietnam</a>
                        <a href="" class="row footitem font13">Buenos Aires, Argentina</a>
                        <a href="" class="row footitem font13">Vancouver, British Columbia, Canada</a>
                        <a href="" class="row footitem font13">Bologna, Italia</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row darkgray">
            <div class="col-sm boot">
                <spam class="name">RESTAURANT TRAVEL</spam>
            </div>
            <div class="col-sm boot">
                <spam class="copy">© 2017 All Rights Reserved. RESTAURANT TRAVEL</spam>
            </div>
            <div class="col-sm boot"><img class="redes img-fluid" src="../static/assets/redes.png"</div>
            </div>
        </div>
    </div>
</footer>