<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/styles.css"> 
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,400,400i,700,700i,800,800i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    </head>
    <body>

        <!--<div w3-include-html="header.html"></div>
<div w3-include-html="footer.html"></div>-->

        <header>
            <div class="encabezado">
                <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img class="logo img-responsive" src="../static/assets/logo.png"></a>
                    <div class="navbar-collapse collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item bordes">
                                <a href="search.html">
                                   <input class="nav-link inpsearch" type="text" placeholder="Encuentra comida para tu viaje">
                               </a>
                            </li>
                            <li class="nav-item">
                                <div class="languages">
                                    <div class="nav-link redfont thin lanitem">Idioma</div>
                                    <a class="nav-link redfont thin lanitem hov" href="#">en</a>
                                    <a class="nav-link redfont thin lanitem hov" href="#">es</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle redfont" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../static/assets/hom.JPG" class="avatar img-responsive">
                                    Antonio Sánchez Soliz
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item hov" href="#">Perfil</a>
                                    <a class="dropdown-item hov" href="home.html">Salir</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>







        <div id="navbar-fixed" class="fixed-header">
            <div class="encabezado">
                <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img class="logo img-responsive" src="../static/assets/logo.png"></a>
                    <div class="navbar-collapse collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item bordes">
                                <a href="search.html">
                                   <input class="nav-link inpsearch" type="text" placeholder="Encuentra comida para tu viaje">
                               </a>
                            </li>
                            <li class="nav-item">
                                <div class="languages">
                                    <div class="nav-link redfont thin lanitem">Idioma</div>
                                    <a class="nav-link redfont thin lanitem hov" href="#">en</a>
                                    <a class="nav-link redfont thin lanitem hov" href="#">es</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle redfont" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../static/assets/hom.JPG" class="avatar img-responsive">
                                    Antonio Sánchez Soliz
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item hov" href="#">Perfil</a>
                                    <a class="dropdown-item hov" href="home.html">Salir</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        
        
        
        
        
        
        

        <div class="cuerpo">

            <div id="carouselExampleIndicators" class="carousel slide first" data-ride="carousel">
                <ol class="carousel-indicators carousel-indicators--round">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="../static/assets/restbanner.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>ENCUENTRA</h2>
                            <h2>SIEMPRE LO</h2>
                            <h2>MEJOR</h2>
                            <div class="redline"></div>
                            <h5>EN TU LUGAR DE VIAJE</h5>
                            <h5>DE ACUERDO A TUS POSIBILIDADES Y GUSTOS</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="../static/assets/restbanner2.jpg" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>ENCUENTRA</h2>
                            <h2>SIEMPRE LO</h2>
                            <h2>MEJOR</h2>
                            <div class="redline"></div>
                            <h5>EN TU LUGAR DE VIAJE</h5>
                            <h5>DE ACUERDO A TUS POSIBILIDADES Y GUSTOS</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="../static/assets/restbanner3.jpg" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>ENCUENTRA</h2>
                            <h2>SIEMPRE LO</h2>
                            <h2>MEJOR</h2>
                            <div class="redline"></div>
                            <h5>EN TU LUGAR DE VIAJE</h5>
                            <h5>DE ACUERDO A TUS POSIBILIDADES Y GUSTOS</h5>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>




            <img class="img-fluid imgback" src="../static/assets/desayunoimg.jpg" alt="">
            
            <div class="white italic img-text"><p class="nobottom"><strong>Restaurante Plasma</strong>,huevos benedicto</p><p class="nobottom">Medellin, Colombia</p></div>
            
            
            <div class="container width70 nobottompadd">

                <div class="container width70 absolute row width70r rowr">


                    <div class="transp">
                        <div class="center">
                            <h2 class="fontgray">SOBRE</h2>
                            <h2 class="fontgray">NOSOTROS</h2>
                            <div class="redline"></div>
                            <p class="fontgray">Restaurant Travel es una
                                plataforma web que presenta la
                                mejor solución a la búsqueda de
                                establecimientos para comer en
                                sus viajes. Tanto para aquellos
                                que buscan la experiencia más
                                pura del lugar que visitan, como
                                para los que quieren encontrar
                                sabores familiares.</p>
                        </div>
                    </div>


                    <div class="card border width230 fontgray cardabsol">
                        <div class="card-header bold">
                            Cocinas
                        </div>
                        <div class="card-block">
                            <div class="container topmargin">
                                <div class="itemtop"><img src="../static/assets/desayuno.png" alt="" class="ico img-fluid"><a class="hov fontgray thin nodecoration hovgray font12 select-food">Desayuno</a></div>
                                <div class="itemtop"><img src="../static/assets/vegetariano.png" alt="" class="ico img-fluid "><a class="hov fontgray thin nodecoration hovgray font12 select-food">Vegetariano</a></div>
                                <div class="itemtop"><img src="../static/assets/domicilio.png" alt="" class="ico img-fluid"><a class="hov fontgray thin nodecoration hovgray font12 select-food">Domicilio</a></div>
                                <div class="itemtop"><img src="../static/assets/pescado.png" alt="" class="ico img-fluid"><a class="hov fontgray thin nodecoration hovgray font12 select-food">Pescado</a></div>
                                <div class="itemtop"><img src="../static/assets/rapida.png" alt="" class="ico img-fluid"><a class="hov fontgray thin nodecoration hovgray font12 select-food">Comida Rápida</a></div>
                            </div> 
                        </div>
                    </div>

                </div>




            </div>









            <div class="row lightgray">
                <div class="container width70 margin70">
                    <div class="row row-gray">
                        <div class="col-sm-4">
                            <div class="container">
                                <h2 class="fontgray">CONOCE LOS</h2>
                                <h2 class="fontgray">RESTAURANTES</h2>
                                <div class="redline"></div>
                                <p class="fontgray bottom4">Restaurant Travel te permite
                                    conocer el menú de los
                                    diferentes restaurantes que veas,
                                    y en caso de ser posible podrás
                                    reservar una mesa o realizar
                                    domicilios o hacer uso de
                                    cupones de descuento.</p>
                                <p class="font13 nobottom fontgray">¿Tienes un restaurante?</p>
                                <button type="button" class="btn btn-outline-danger">Trabaja con nosotros</button>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="container">
                                <img class="imgrestaurant img-fluid" src="../static/assets/plasma.jpg" alt="">
                                <p class="fontgray text-muted nobottom"><strong>Restaurante Plasma</strong>, uno de los mejores restaurantes de Colombia</p>
                                <p class="fontgray italic text-muted">Medellin, Colombia</p>
                            </div>  
                        </div>
                    </div>
                </div>

            </div>







            <div class="row red">
                <a class="prev carousel-control-prev static" href="" title="go back"  role="button">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <div class="container width70 margin70">
                    <section class="container p-t-3">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="fontwhite">LOS MEJORES</h2>
                                <div class="whiteline"></div>
                            </div>
                        </div>
                    </section>
                    <section class="container">
                        <div class="row">
                            <div>
                                <span class="badge badge-default italy selector-badge active-badge">Italianos</span>
                                <span class="badge badge-default vegan selector-badge">Vegetarianos</span>
                            </div>
                        </div>
                    </section>
                    <section class="carousel slide" data-ride="carousel" id="postsCarousel">
                        <div class="container p-t-0 m-t-2 carousel-inner">
                            <div class="row row-equal carousel-item active m-t-0">
                                <div class="col-md-3 nomargin">
                                    <div class="card card-inverse">
                                        <img class="card-img img-fluid" src="../static/assets/1.jpg">
                                        <div class="card-img-overlay p-t-2">
                                            <div class="hoverbott">
                                                <h5 class="marginbott">Do’ Roco Restaurant</h5>
                                                <h6 class="small hov2">
                                                    Milán, Italia
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 nomargin">
                                    <div class="card card-inverse">
                                        <img class="card-img img-fluid" src="../static/assets/5.jpg" alt="Carousel 2">
                                        <div class="card-img-overlay p-t-2">
                                            <div class="hoverbott">
                                                <h5 class="marginbott">Do’ Roco Restaurant</h5>
                                                <h6 class="small hov2">
                                                    Milán, Italia
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 nomargin">
                                    <div class="card card-inverse">
                                        <img class="card-img img-fluid" src="../static/assets/2.jpg" alt="Carousel 2">
                                        <div class="card-img-overlay p-t-2">
                                            <div class="hoverbott">
                                                <h5 class="marginbott">Do’ Roco Restaurant</h5>
                                                <h6 class="small hov2">
                                                    Milán, Italia
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 nomargin">
                                    <div class="card card-inverse">
                                        <img class="card-img img-fluid" src="../static/assets/3.jpg" alt="Carousel 3">
                                        <div class="card-img-overlay p-t-2">
                                            <div class="hoverbott">
                                                <h5 class="marginbott">Do’ Roco Restaurant</h5>
                                                <h6 class="small hov2">
                                                    Milán, Italia
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-equal carousel-item m-t-0">
                                <div class="col-md-3 nomargin">
                                    <div class="card card-inverse">
                                        <img class="card-img img-fluid" src="../static/assets/6.jpg" alt="Carousel 2">
                                        <div class="card-img-overlay p-t-2">
                                            <div class="hoverbott">
                                                <h5 class="marginbott">Do’ Roco Restaurant</h5>
                                                <h6 class="small hov2">
                                                    Milán, Italia
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 nomargin">
                                    <div class="card card-inverse">
                                        <img class="card-img img-fluid" src="../static/assets/7.jpg" alt="Carousel 2">
                                        <div class="card-img-overlay p-t-2">
                                            <div class="hoverbott">
                                                <h5 class="marginbott">Do’ Roco Restaurant</h5>
                                                <h6 class="small hov2">
                                                    Milán, Italia
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 nomargin">
                                    <div class="card card-inverse">
                                        <img class="card-img img-fluid" src="../static/assets/8.jpg" alt="Carousel 5">
                                        <div class="card-img-overlay p-t-2">
                                            <div class="hoverbott">
                                                <h5 class="marginbott">Do’ Roco Restaurant</h5>
                                                <h6 class="small hov2">
                                                    Milán, Italia
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 nomargin fadeIn wow">
                                    <div class="card card-inverse">
                                        <img class="card-img img-fluid" src="../static/assets/9.jpg" alt="Carousel 6">
                                        <div class="card-img-overlay p-t-2">
                                            <div class="hoverbott">
                                                <h5 class="marginbott">Do’ Roco Restaurant</h5>
                                                <h6 class="small hov2">
                                                    Milán, Italia
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="container">
                            <button type="button" class="btn btn-outline-success float-right btn-white">Ver más listas</button>
                        </div>
                    </section>
                </div>
                <a class="next carousel-control-next static" href="" title="more" role="button">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
            </div>
        </div>
        
        
        
        <footer class="text-muted foot">
            <div class="container">
                <div class="row">
                    <div class="footcity col-sm-3">
                        <div class="row">
                            Mapa del sitio
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="" class="row footitem font13">Sobre nosotros</a>
                                <a href="" class="row footitem font13">Dueños de negocios</a>
                                <a href="" class="row footitem font13">Términos y privacidad</a>
                                <a href="" class="row footitem font13">Ayuda</a>
                                <a href="" class="row footitem font13">Todos los restaurantes</a>
                                <a href="" class="row footitem font13">Contáctenos</a>
                            </div>
                        </div>

                    </div>

                    <div class="footcity col-sm-9 cities">
                        <div class="row cit">
                            Ciudades más buscadas
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <a href="" class="row footitem font13">New Orleans, Louisiana, USA</a>
                                <a href="" class="row footitem font13">Tokyo, Japon</a>
                                <a href="" class="row footitem font13">Lyon, Francia</a>
                                <a href="" class="row footitem font13">San Sebastián, España</a>
                                <a href="" class="row footitem font13">Marrakesh, Maruecos</a>
                                <a href="" class="row footitem font13">Louisville, Kentucky, USA</a>
                            </div>
                            <div class="col-sm">
                                <a href="" class="row footitem font13">Georgetown, Malasia</a>
                                <a href="" class="row footitem font13">Florence, Italia</a>
                                <a href="" class="row footitem font13">London, UK</a>
                                <a href="" class="row footitem font13">Santiago, Chile</a>
                                <a href="" class="row footitem font13">Copenhagen, Dinamarca</a>
                                <a href="" class="row footitem font13">San Diego, California, USA</a>
                            </div>
                            <div class="col-sm">
                                <a href="" class="row footitem font13">Ho Chi Minh City, Vietnam</a>
                                <a href="" class="row footitem font13">Buenos Aires, Argentina</a>
                                <a href="" class="row footitem font13">Vancouver, British Columbia, Canada</a>
                                <a href="" class="row footitem font13">Bologna, Italia</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="row darkgray">
                    <div class="col-sm boot">
                        <spam class="name">RESTAURANT TRAVEL</spam>
                    </div>
                    <div class="col-sm boot">
                        <spam class="copy">© 2017 All Rights Reserved. RESTAURANT TRAVEL</spam>
                    </div>
                    <div class="col-sm boot"><img class="redes img-fluid" src="../static/assets/redes.png"</div>
                    </div>
                </div>
            </div>
        </footer>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <!--<script src="../static/js/w3.js"></script>
<script>
w3.includeHTML();
</script>-->
        <script>
            (function($) {
                "use strict";
                // manual carousel controls
                $('.next').click(function(){ $('#postsCarousel').carousel('next');return false; });
                $('.prev').click(function(){ $('#postsCarousel').carousel('prev');return false; });
                $('.italy').click(function(){ $('#postsCarousel').carousel(0);return false; });
                $('.vegan').click(function(){ $('#postsCarousel').carousel(1);return false; });
            })(jQuery);
            $('#postsCarousel').carousel({
                interval: false
            }); 
        </script>
        <script>
            
            var navbarAnimated = document.querySelector('#navbar-fixed');
            window.onscroll = function () { myAnimationsNavbar() };
            function myAnimationsNavbar() {
                
                if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
                    console.log('entre');
                    navbarAnimated.classList.remove("subir");
                    navbarAnimated.classList.add("bajar");
                } else {
                    console.log('entre2');
                    navbarAnimated.classList.remove("bajar");
                    navbarAnimated.classList.add("subir");
                }
            }
        </script>
        
        <script>
            $(document).ready(function(){$(".selector-badge").click(function(){$(this).addClass('active-badge');$('.selector-badge').not(this).each(function(){$(this).removeClass('active-badge');});});});
        </script>
        <script>
            $(document).ready(function(){$(".select-food").click(function(){$(this).addClass('active-select-food');$('.select-food').not(this).each(function(){$(this).removeClass('active-select-food');});});});
        </script>
        
        
    </body>
</html>