<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <title>Document</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,400,400i,700,700i,800,800i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    </head>

    <body>
        <!--<div w3-include-html="header.html"></div>
<div w3-include-html="footer.html"></div>-->

        <header>
            <div class="encabezado">
                <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img class="logo img-responsive" src="../static/assets/logo.png"></a>
                    <div class="navbar-collapse collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item bordes">
                                <a href="search.html">
                                    <input class="nav-link inpsearch" type="text" placeholder="Encuentra comida para tu viaje">
                                </a>
                            </li>
                            <li class="nav-item">
                                <div class="languages">
                                    <div class="nav-link redfont thin lanitem">Idioma</div>
                                    <a class="nav-link redfont thin lanitem hov" href="#">en</a>
                                    <a class="nav-link redfont thin lanitem hov" href="#">es</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle redfont" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../static/assets/hom.JPG" class="avatar img-responsive">
                                    Antonio Sánchez Soliz
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item hov" href="#">Perfil</a>
                                    <a class="dropdown-item hov" href="home.html">Salir</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>







        <div id="navbar-fixed" class="fixed-header">
            <div class="encabezado">
                <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img class="logo img-responsive" src="../static/assets/logo.png"></a>
                    <div class="navbar-collapse collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item bordes">
                                <a href="search.html">
                                    <input class="nav-link inpsearch" type="text" placeholder="Encuentra comida para tu viaje">
                                </a>
                            </li>
                            <li class="nav-item">
                                <div class="languages">
                                    <div class="nav-link redfont thin lanitem">Idioma</div>
                                    <a class="nav-link redfont thin lanitem hov" href="#">en</a>
                                    <a class="nav-link redfont thin lanitem hov" href="#">es</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle redfont" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../static/assets/hom.JPG" class="avatar img-responsive">
                                    Antonio Sánchez Soliz
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item hov" href="#">Perfil</a>
                                    <a class="dropdown-item hov" href="home.html">Salir</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>



        <div class="cuerpo">


            <!--clase dos contenido inicial-->

            <div class="contenedorDos contalto">

                <div class="row center">

                    <div class="cuadrado col-sm-8">
                        <div class="cuadradito">
                            <div class="container">

                                <div class="row">
                                    <div class="col">
                                        <h2 class="redfont topmargin">Antonio Sánchez Soliz</h2>
                                        <p class="fontgray thinredline italic right-side">Medellin, Colombia</p>
                                        <br>
                                        <p class="fontgray font12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt aperiam explicabo debitis fugiat beatae provident reprehenderit deleniti deserunt assumenda, consequuntur quis doloremque eius tempora et illum, similique obcaecati accusamus illo?
                                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam veritatis quo porro, pariatur! Voluptatum similique nam distinctio rem mollitia harum reiciendis praesentium quaerat cupiditate, sequi quod numquam repellat, asperiores commodi.</span></p>
                                    </div>
                                    <div class="col">
                                        <div class="circulo center">

                                        </div>
                                        <div class="redfont center textcent">Comidas preferidas</div>
                                        <div class="row center marg15">
                                            <div><img src="../static/assets/vegetariano.png" alt="" class="ico img-fluid"></div>
                                            <div><img src="../static/assets/rapida.png" alt="" class="ico img-fluid"></div>
                                            <div><img src="../static/assets/pescado.png" alt="" class="ico img-fluid"></div>
                                        </div>
                                    </div>


                                </div>
                            </div>


                        </div>


                    </div>
                    <div class="col-sm-1">


                    </div>


                    <div class="cuadrado col-sm-3">

                        <div class="con1"></div>

                        <div class="con2">



                            <div class="card border fontgray">
                                <div class="card-header bold">
                                    Opciones
                                </div>
                                <div class="card-block">
                                    <div class="container topmargin">
                                        <div class="itemtop"><img src="../static/assets/desayuno.png" alt="" class="ico img-fluid"><a class="hov fontgray thin nodecoration hovgray font12 select-food">Desayuno</a></div>
                                        <div class="itemtop"><img src="../static/assets/vegetariano.png" alt="" class="ico img-fluid "><a class="hov fontgray thin nodecoration hovgray font12 select-food">Vegetariano</a></div>
                                        <div class="itemtop"><img src="../static/assets/domicilio.png" alt="" class="ico img-fluid"><a class="hov fontgray thin nodecoration hovgray font12 select-food">Domicilio</a></div>
                                        <div class="itemtop"><img src="../static/assets/pescado.png" alt="" class="ico img-fluid"><a class="hov fontgray thin nodecoration hovgray font12 select-food">Pescado</a></div>
                                        <div class="itemtop"><img src="../static/assets/rapida.png" alt="" class="ico img-fluid"><a class="hov fontgray thin nodecoration hovgray font12 select-food">Comida Rápida</a></div>
                                    </div> 
                                </div>
                            </div>



                        </div>
                    </div>

                </div>



            </div>




            <div class="row red come-padd">
                <div class="center c">
                    <div class="container margin70">
                        <h2 class="fontwhite">VIAJES</h2>
                        <div class="whiteline"></div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="comentario nonito row">
                                    <div class="col-4"></div>
                                    <div class="col-8">
                                        <h5 class="fontgray bold">Jose Antonio Gomez</h5>
                                        <div class="redline"></div>
                                        <p class="fontgray font12">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>


            <!-- clase 4 contactanos-->



            <div id="contCuatro" class="container col-lg-12 marginbott2">
                <!-- Container (Contact Section) -->
                <div class="c">

                    <h2 class="redfont">MI TOP 5</h2>
                    <div class="redline"></div>


                    <section>
                        <div>
                            <div class="row row-equal">
                                <div class="col nomargin">
                                    <div class="card card-inverse">
                                        <img class="card-img img-fluid" src="../static/assets/1.jpg">
                                        <div class="card-img-overlay p-t-2">
                                            <div class="hoverbott">
                                                <h5 class="marginbott">Do’ Roco Restaurant</h5>
                                                <h6 class="small hov2">
                                                    Milán, Italia
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col nomargin">
                                    <div class="card card-inverse">
                                        <img class="card-img img-fluid" src="../static/assets/1.jpg">
                                        <div class="card-img-overlay p-t-2">
                                            <div class="hoverbott">
                                                <h5 class="marginbott">Do’ Roco Restaurant</h5>
                                                <h6 class="small hov2">
                                                    Milán, Italia
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col nomargin">
                                    <div class="card card-inverse">
                                        <img class="card-img img-fluid" src="../static/assets/5.jpg" alt="Carousel 2">
                                        <div class="card-img-overlay p-t-2">
                                            <div class="hoverbott">
                                                <h5 class="marginbott">Do’ Roco Restaurant</h5>
                                                <h6 class="small hov2">
                                                    Milán, Italia
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col nomargin">
                                    <div class="card card-inverse">
                                        <img class="card-img img-fluid" src="../static/assets/2.jpg" alt="Carousel 2">
                                        <div class="card-img-overlay p-t-2">
                                            <div class="hoverbott">
                                                <h5 class="marginbott">Do’ Roco Restaurant</h5>
                                                <h6 class="small hov2">
                                                    Milán, Italia
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col nomargin">
                                    <div class="card card-inverse">
                                        <img class="card-img img-fluid" src="../static/assets/3.jpg" alt="Carousel 3">
                                        <div class="card-img-overlay p-t-2">
                                            <div class="hoverbott">
                                                <h5 class="marginbott">Do’ Roco Restaurant</h5>
                                                <h6 class="small hov2">
                                                    Milán, Italia
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>






            <!-- TERMINADA-->


            <footer class="text-muted foot">
                <div class="container">
                    <div class="row">
                        <div class="footcity col-sm-3">
                            <div class="row">
                                Mapa del sitio
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a href="" class="row footitem font13">Sobre nosotros</a>
                                    <a href="" class="row footitem font13">Dueños de negocios</a>
                                    <a href="" class="row footitem font13">Términos y privacidad</a>
                                    <a href="" class="row footitem font13">Ayuda</a>
                                    <a href="" class="row footitem font13">Todos los restaurantes</a>
                                    <a href="" class="row footitem font13">Contáctenos</a>
                                </div>
                            </div>

                        </div>

                        <div class="footcity col-sm-9 cities">
                            <div class="row cit">
                                Ciudades más buscadas
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <a href="" class="row footitem font13">New Orleans, Louisiana, USA</a>
                                    <a href="" class="row footitem font13">Tokyo, Japon</a>
                                    <a href="" class="row footitem font13">Lyon, Francia</a>
                                    <a href="" class="row footitem font13">San Sebastián, España</a>
                                    <a href="" class="row footitem font13">Marrakesh, Maruecos</a>
                                    <a href="" class="row footitem font13">Louisville, Kentucky, USA</a>
                                </div>
                                <div class="col-sm">
                                    <a href="" class="row footitem font13">Georgetown, Malasia</a>
                                    <a href="" class="row footitem font13">Florence, Italia</a>
                                    <a href="" class="row footitem font13">London, UK</a>
                                    <a href="" class="row footitem font13">Santiago, Chile</a>
                                    <a href="" class="row footitem font13">Copenhagen, Dinamarca</a>
                                    <a href="" class="row footitem font13">San Diego, California, USA</a>
                                </div>
                                <div class="col-sm">
                                    <a href="" class="row footitem font13">Ho Chi Minh City, Vietnam</a>
                                    <a href="" class="row footitem font13">Buenos Aires, Argentina</a>
                                    <a href="" class="row footitem font13">Vancouver, British Columbia, Canada</a>
                                    <a href="" class="row footitem font13">Bologna, Italia</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="row darkgray">
                        <div class="col-sm boot">
                            <spam class="name">RESTAURANT TRAVEL</spam>
                        </div>
                        <div class="col-sm boot">
                            <spam class="copy">© 2017 All Rights Reserved. RESTAURANT TRAVEL</spam>
                        </div>
                        <div class="col-sm boot"><img class="redes img-fluid" src="../static/assets/redes.png" </div>
                        </div>
                    </div>
                </div>
            </footer>


            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
            <!--<script src="../static/js/w3.js"></script>
<script>
w3.includeHTML();
</script>-->
            <script>
                (function($) {
                    "use strict";
                    // manual carousel controls
                    $('.next').click(function() {
                        $('#postsCarousel').carousel('next');
                        return false;
                    });
                    $('.prev').click(function() {
                        $('#postsCarousel').carousel('prev');
                        return false;
                    });
                    $('.italy').click(function() {
                        $('#postsCarousel').carousel(0);
                        return false;
                    });
                    $('.vegan').click(function() {
                        $('#postsCarousel').carousel(1);
                        return false;
                    });
                })(jQuery);
                $('#postsCarousel').carousel({
                    interval: false
                });

            </script>
            <script>
                var navbarAnimated = document.querySelector('#navbar-fixed');
                window.onscroll = function() {
                    myAnimationsNavbar()
                };

                function myAnimationsNavbar() {

                    if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
                        console.log('entre');
                        navbarAnimated.classList.remove("subir");
                        navbarAnimated.classList.add("bajar");
                    } else {
                        console.log('entre2');
                        navbarAnimated.classList.remove("bajar");
                        navbarAnimated.classList.add("subir");
                    }
                }

            </script>
            <script>
                $(document).ready(function(){$(".select-food").click(function(){$(this).addClass('active-select-food');$('.select-food').not(this).each(function(){$(this).removeClass('active-select-food');});});});
            </script>

            </body>

        </html>
